
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

header {
    border-bottom: #3381ff 1px solid;
    width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
}

main {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.input-submit {
    font-size: 18px;
    padding: 0.4em 2em;
    border: none;
    border-radius: 5px;
    background-color: #3381ff;
    color: white;
    cursor: pointer;
}

.input-file::-webkit-file-upload-button {
    background-color: #3381ff;
    border: none;
    border-radius: 5px;
    padding: 0.8em 0.8em;
    color: white;
    cursor: pointer;
}

.input-number {
    width: 50px;
    border: #3381ff 1px solid;
    padding: 10px 20px;
    border-radius: 5px;
}

.group-container {
    text-align: center;
    border: #3381ff 1px solid;
    width: 40%;
    margin : 15px
}

@media (max-width: 450px) {
    .group-container {
        width: 100%;
    }
}

.list-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-group h2 {
    width: 100%;
    text-align: center;
}

.group-container ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.link-form {
    display: block;
    text-align: center;
    width: 200px;
    margin: auto;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #3381ff;
    padding: 0.8em 1em;
}

.error-msg {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.p-help {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

table {
    width: 40%;
    margin: auto;
    border-spacing: 0;
}

table td, th {
    padding: 1.5em;
    border: black 1px solid;
    margin: 0;
}