body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: #f56642;
  width: 100%;
  display: block;
  text-align: center;

  h1 {
    display: inline-block;
    margin: 20px;
    color: white;
  }
}

main {
  width: 900px;
  margin: auto;

  h2 {
    text-align: center;
    font-size: 44px;
    color: #f56642;
  }

  .error-container {
    h3 {
      display: inline-block;
      margin: 0.8em;
      margin-top: 0;
    }

    .error-header {
      padding: 15px 0 15px 0;
      color: white;

      p {
        display: inline;
      }
    }
    .main-error {
      margin-bottom: 30px;
      .file-error {
        text-align: center;
        color: #f56642;
      }
      .stack-trace-container {
        color: white;
        padding: 15px;
        background-color: #f56642;

        li {
          display: inline-list-item;
          margin: 20px;
          list-style: default;
        }
        .call {
          background-color: white;
          color: #f56642;
          padding: 20px;
        }
      }
    }
  }
}


