body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: #f56642;
  width: 100%;
  display: block;
  text-align: center;
}
header h1 {
  display: inline-block;
  margin: 20px;
  color: white;
}

main {
  width: 900px;
  margin: auto;
}
main h2 {
  text-align: center;
  font-size: 44px;
  color: #f56642;
}
main .error-container h3 {
  display: inline-block;
  margin: 0.8em;
  margin-top: 0;
}
main .error-container .error-header {
  padding: 15px 0 15px 0;
  color: white;
}
main .error-container .error-header p {
  display: inline;
}
main .error-container .main-error {
  margin-bottom: 30px;
}
main .error-container .main-error .file-error {
  text-align: center;
  color: #f56642;
}
main .error-container .main-error .stack-trace-container {
  color: white;
  padding: 15px;
  background-color: #f56642;
}
main .error-container .main-error .stack-trace-container li {
  display: inline-list-item;
  margin: 20px;
  list-style: default;
}
main .error-container .main-error .stack-trace-container .call {
  background-color: white;
  color: #f56642;
  padding: 20px;
}

/*# sourceMappingURL=Style.css.map */
